@import '_config';

.showroom {
  clear: both;
  background-color: $showroom-background-color;

  &__item {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $screen-md-min) {
      flex-direction: row;
    }
  }

  &__products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;

    @media screen and (min-width: $screen-md-min) {
      flex-direction: column;
      padding: 20px 0;
    }
  }

  &__product {
    display: flex;
    padding-bottom: 20px;

    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      width: 50% !important;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__product-image {
    width: 120px;
    padding-right: 20px;
  }

  &__product-details {
    display: flex;
    flex-direction: column;
    line-height: 1.5;

    a {
      display: block;
      min-width: 100%;
      font-weight: bold;
    }
  }
}

.showroom.gallerya--slider {
  margin-top: 0;

  & > ul li {
    top: 0;
    transform: translateY(0%);
  }

  .gallerya__image {
    width: 60%;
    margin-right: 0;
    margin-left: 0;
    padding-right: 20px;

    @media screen and (max-width: $screen-sm-max) {
      width: 100%;
      padding-right: 0;
      text-align: center;
    }

    figcaption {
      position: static;
      padding: 10px;
      background: none;
      color: $showroom-product-description-text-color;
    }
  }

  .js-gallerya-slider {
    margin: 0;
  }

  .flickity-page-dots {
    display: none;
  }

  .flickity-prev-next-button {
    top: 33%;
    width: 32px;
    height: 64px;
    border-radius: 0;
    background: $flickity-prev-next-button-background-color;

    @media screen and (min-width: $screen-md-min) {
      top: 50%;
    }

    &.previous {
      left: 0;
    }

    &.next {
      right: 0;
    }
  }
}
